body {
  color: #353535;
}

/******************************************
* VARIABLES
*******************************************/

$spacing-unit: 60px;

$tpc-sans-serif: "Avenir", Helvetica, Arial, sans-serif;

/******************************************
* PAGE LAYOUT
*******************************************/

body {
  font-family: $tpc-sans-serif;
}

#main-container {

}

#form-illo {
  border: 1px solid #D2D2D2;
  float: left;
  width: 48%;

}

#grouped-tax-fields-accordion {
  width: 48%;
  float: right;
}


/******************************************
* HEADER
*******************************************/


/*THINGS TO CHANGE ONCE JS MAKES THE SHARE BUTTONS WORK*/
.title {
  height: 83px;
}

.headerimage {
  top: 70px;
}
/*END - THINGS TO CHANGE */

#header-pinned {
    font: 16px Lato;
    color: #333;
    font-weight: 400;
    /* margin-right: 100px; */
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid #eee;
    z-index: 999;
    -webkit-transition: top 0.25s linear;
    -moz-transition: top 0.25s linear;
    -o-transition: top 0.25s linear;
    transition: top 0.25s linear;
}

#header-pinned .site-logo {
    display: block;
    width: 274px;
    height: 72px;
    position: absolute;
    left: 10px;
    margin-top: 7px;
    background: url(https://placekitten.com/274/72) no-repeat;
    background-size: 274px 72px;
}

#header-pinned .title {
  font-size: 20px;
  margin-left: 80px;
  font-size: 14px;
  line-height: 49px;
  margin: 0 65px 0 55px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#header-pinned .title a {
  display: inline;
}

.headerimage {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 430px;
  z-index: -1;
}

.title-content {
  text-align: center;
  margin-bottom: $spacing-unit;
}

#intro {
 margin-bottom: $spacing-unit;
}


/******************************************
* ACCORDION STYLES
*******************************************/

div.card-header.active-click {
  background-color: #EFEFEF;
}

div.card-header.active-hover {
  background-color: #F9F9F9;
}

.accordion img {
  margin-bottom: 1rem;
  width: 100%;
}

.btn-link {
  font-size: 18px;
  font-weight: 900;
  color: #000000;
  text-decoration: none; 
}

.card {
  border-radius: 0;
}

.card-header {
  background-color: #FFFFFF;
  border-radius: 0;
}

.form-reference {
  color: #8E8E8E;
  font-size: 14px;
  font-style: italic;
}


/******************************************
* SVG
*******************************************/

#form-illo rect {
  opacity: 0.6;
}

#form-illo rect.background-box {
  opacity: 1;
}

#form-illo text {
  display: none;
}

#form-illo #background text {
  display: block;
}

#form-illo rect {
  &.active-click {
    opacity: 1;
  }

  &.active-hover {
    opacity: 0.9;
  }

  &.active-click.active-hover {
    opacity: 1;
  }
}

#form-illo text {
  &.active-click {
    display: block;
  }

  &.active-hover {
    display: block;
  }

}


/* Illustrator-assigned styles. Some names changed, remaining 'st' classes are for text (?) */

.background-box {
  fill:#EFEFEF;
}

.form-1040-box {
  fill:#174A7C;
}

.sched-3-box {
  fill: #75ADC0;
}

.sched-1-box {
  fill: #008BB0;
}

.sched-C-box {
  fill: #3F4F56;
}

.sched-E-box {
  fill: #BCBEC0;
}

.sched-A-box {
  fill: #B0D0DB;
}


.st3{fill:#FFFFFF;}

.st4{font-family:'AvenirLTPro-Black';}

.st5{font-size:14px;}

.st6{font-family:'AvenirLTPro-Roman';}

.st7{fill:#353535;}

.st8{font-size:16px;}

.st9{font-size:24px;}

.st10{fill:#164B7C;}



/* TPC styles */



